<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td {
        padding: 5px 10px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Add a new user</h1>
      <form action="/new" method="post">
        <input type="text" name="username" placeholder="username" required />
        <br />
        <br />
        <input type="text" name="fname" placeholder="first name" required />
        <br />
        <br />
        <input type="text" name="mname" placeholder="middle name" />
        <br />
        <br />
        <input type="text" name="lname" placeholder="last name" />
        <br />
        <br />
        <input
          type="password"
          name="password"
          placeholder="password"
          required
        />
        <br />
        <br />
        <button type="submit">Submit</button>
      </form>
    </div>
    <br />
    <div>
      <h1>All registered users</h1>
      <% if(users.length > 0) { %>
      <table>
        <thead>
          <tr>
            <td>user ID</td>
            <td>Username</td>
            <td>First name</td>
            <td>Middle Name</td>
            <td>Last name</td>
            <td>Created on</td>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < users.length; i++){ %>
          <tr>
            <td><%= users[i].id %></td>
            <td><%= users[i].username %></td>
            <td><%= users[i].fname %></td>
            <td><%= users[i].mname %></td>
            <td><%= users[i].lname %> %></td>
            <td>
              <%= moment(users[i].createdon).format("DD/MM/YYYY - HH:MM A") %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else {%>
      <p>No users</p>
      <%} %>
    </div>
    <br />
  </body>
</html>
